 /* Hackery. */

#sidebar {
	overflow: visible;
}


/* 
 *	Base widget container 
 */
div.widget {
	clear: both;
	position: relative;
}


.widget-content {
	background-color: #efefef;
	border: 1px solid #cccccc;
	padding: 8px;
	overflow: visible;
}
.widget-content-nopad {
	padding: 0px!important;
}
.widget-content p {
	margin: 5px 0 0!important;
	padding: 0px!important;
}

.widget-content ul {
	margin: 0px!important;
	padding: 0px!important;
	border-top: 1px solid #cccccc;
	overflow: auto;
}
.widget-content ul li {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-top: none;
	margin: 0px!important;
	padding: 8px!important;
	overflow: auto;
}
.widget-content-nopad ul {
	border-top: none!important;
}
.widget-content-nopad ul li {
	border: none!important;
}
.widget-content ul li h4,
.widget-content ul li h4 a {
	color: #000000;
}
.widget-content ul li .widget-readmore {
	
}


.widget-img {
	overflow: hidden;
	display: block;
	border: 1px solid #cccccc!important;
}

div.widget .widget-img-floatleft {
	float: left;
	margin-right: 8px;
}
div.widget .widget-img-floatright {
	float: right;
	margin-left: 8px;
}
div.widget .widget-img-above {
	margin-left: -8px;
	margin-top: -8px;
	margin-bottom: 8px;
	border-left: 0px!important;
	border-right: 0px!important;
	border-top: 0px!important;
}

.widget-header {

}
.widget-header h3 {
	background-color: #666666; 
	color: #ffffff; 
	padding: 8px 10px; 
	font-size: 16px;
	line-height: 100%;
	font-weight: normal; 
	text-transform: uppercase;
}
.widget-header h3 a {
	color: #ffffff; 
}
div.widget .widget-header-badge_topleft {
	position: absolute;
	top: -2px;
	left: -2px;
	z-index: 800;
}
div.widget .widget-header-badge_topright {
	position: absolute;
	top: -10px;
	right: -20px;
	z-index: 800;
}

.widget-content .widget-carousel {
	position: relative;
	border-right: 1px solid #cccccc!important;
	border-left: 1px solid #cccccc!important;
}
.widget-content .widget-carousel ul li,
.widget-content .widget-advcarousel div div {
	border-left: none!important;
	position: relative;
	overflow: hidden;
}
.widget-content .widget-carousel a.widget-carousel-prev, 
.widget-content .widget-carousel a.widget-carousel-next {
	display: block;
	width: 18px;
/* 	height: 24px; */
	height: 10%;
	background-color: #999999;
	border: 1px solid #666666;
	border-bottom: 1px solid #000000;
	position: absolute;
} 
.widget-content .widget-carousel a.widget-carousel-prev {
	top: 45%;
	left: -14px;
	z-index: 999;
	background: #999999 url('images/triangle-left.png') no-repeat 50% 50%;
}
.widget-content .widget-carousel a.widget-carousel-next {
	top: 45%;
	right: -14px;
	z-index: 999;
	background: #999999 url('images/triangle-right.png') no-repeat 50% 50%;
}
.widget-content .widget-carousel a.widget-carousel-prev:hover, 
.widget-content .widget-carousel a.widget-carousel-next:hover {
	background-color: #666666;
}
.widget-content .widget-carousel a.widget-carousel-prev span, 
.widget-content .widget-carousel a.widget-carousel-next span {
	display: none;
}
div.widget .widget-content .widget-carousel .widget-img-above {
	margin: 0px;
	border: 1px solid #cccccc!important;
}

.widget-content .widget-advcarousel .carousel-summary {
	position: absolute;
	top: 0px;
	left: -1px;
	/* padding: 8px 10px; */
	height: inherit;
	width: inherit;
	z-index: 500;
	margin: 9px 10px;
	background: transparent url('images/bg-000000-50.png') repeat 0 0;
}
.widget-content .widget-carousel ul li .carousel-summary-mouseover_full
{
	display: none;
}

.widget-content .widget-carousel ul li .carousel-summary-mouseover_third
{
	display: none;
}

/*
.widget-content .widget-carousel div div .carousel-summary {
	clear:both;
	visibility: visible;
	float:left;
	top:0;
	left:0;
	padding:0;
	margin:0;
	position: absolute !important;
	height: 80px;
	width: 706px;
	z-index: 500;
	background: transparent url('images/bg-000000-50.png') repeat 0 0;
}
*/

div.widget .widget-img-advcarousel {
	margin: -8px 0 0 0;
	border: 0px!important;
	left:-5px!important;
}

/*
.widget-content .widget-advcarousel div div .carousel-summary {
	clear:both;
	visibility: visible;
	float:left;
	top:-1px;
	left:0;
	padding:0;
	margin:0;
	position: relative !important;
	height: 80px;
	width: 706px;
	z-index: 500;
	height:80px;
	background: #373f42 repeat 0 0;
}

.widget-content #advcarousel-controls {
	position: absolute;
	top:144px;
	width:706px;
	height:63px;
	margin:0;
	padding:0;
	z-index: 900;
}
*/

/*.widget-content #advcarousel-controls #mygallery-paginate {
	width:55px;
	left:80px;
	float:left;
	position:relative;
	text-align:center;
	margin:0 auto;
	height:10px !important;
	
}

html>body #mygallery-paginate {
	*top:-3px;	
}

@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{

	head~body .widget-content #advcarousel-controls #mygallery-paginate {
		top:0px;
	}
	
}

.widget-content #advcarousel-controls #mygallery-paginate img{
	padding:0 2px !important;
	margin:0 !important;
}
*/
.widget-content #advcarousel-controls a.widget-carousel-prev, 
.widget-content #advcarousel-controls a.widget-carousel-next {
    display: block;
     height:63px;
    width:39px;
    position: absolute;
} 
/*
.widget-content #advcarousel-controls a.widget-carousel-prev {
    top: 0;
    left: 12px;
    z-index: 999;
    background: url('/wp-content/themes/inhabitat-v3/img/carousel_left_arrow.png') no-repeat 0 0;
    
}

.widget-content #advcarousel-controls a:hover.widget-carousel-prev {
    top: 0;
    left: 12px;
    z-index: 999;
    background: url('/wp-content/themes/inhabitat-v3/img/carousel_left_arrow.png') no-repeat 0 0;
    filter: alpha(opacity=60);
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
   opacity:0.6;
   -moz-opacity: 0.60; 
   zoom: 1;
}
.widget-content #advcarousel-controls a.widget-carousel-next {
    top: 6px;
     left: 654px;
    z-index: 999;
    background: url('/wp-content/themes/inhabitat-v3/img/carousel_right_arrow.png') no-repeat 0 0;
}

.widget-content #advcarousel-controls a:hover.widget-carousel-next {
    top: 6px;
    left: 654px;
    z-index: 999;
    background: url('/wp-content/themes/inhabitat-v3/img/carousel_right_arrow.png') no-repeat 0 0;
    filter: alpha(opacity=60);
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
   opacity:0.6;
   -moz-opacity: 0.60; 
   zoom: 1;
}
*/

.widget-content #advcarousel-controls a.widget-carousel-prev span, 
.widget-content #advcarousel-controls a.widget-carousel-next span {
    display:none;
}

/*
.widget-content .widget-advcarousel div div .carousel-summary h4 a {
	font-family:"Trebuchet MS",Arial,Sans-Serif;
	font-size:14px;
	line-height: 18px;
}

.widget-content .widget-advcarousel div div .carousel-summary h4 a:hover {
	color:#17cccc;
}

.widget-content .widget-carousel ul li .carousel-summary-always,
.widget-content .widget-advcarousel div div .carousel-summary {

}

.widget-content .widget-carousel ul li .carousel-summary h4,
.widget-content .widget-advcarousel div div .carousel-summary h4 {
	margin: 10px 10px 5px;
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
	line-height: 100%;
	letter-spacing: -0.5px;
}
.widget-content .widget-carousel ul li .carousel-summary h4 a,
.widget-content .widget-advcarousel div div .carousel-summary h4 a {
	color: #ffffff;
}
.widget-content .widget-carousel ul li .carousel-summary h4 a:hover,
.widget-content .widget-advcarousel div div .carousel-summary h4 a:hover {
	color:#17cccc;
}
*/
.widget-content .widget-carousel ul li .carousel-summary p,
.widget-content .widget-advcarousel div div .carousel-summary p {
	color: #ffffff;
	margin: 0px 10px 5px!important;
}

.widget .widget-content .widget-grid {
	background-color:#FFFFFF;
	border:1px solid #DADADA;
	margin:0 auto;
	overflow:hidden;
	width:284px;	
}
		
.widget .widget-content .widget-grid ul {
		margin:2px auto !important;
		padding:4px 0 !important;
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
		border:none;
		text-align: center;
		width:268px;	
}	
.widget .widget-content .widget-grid ul li {
	background-color: #ffffff;
	display:block;
	position: relative;
	float:left;
	overflow:hidden;
	text-align: center;
	border-style: none;
	border-width: 0px;
	vertical-align: text-top;
}



.widget .widget-content .widget-grid ul li img{
	margin:0 auto !important;
	padding: 0 4px;
	overflow:hidden;
	vertical-align: text-top;
	clear:both;
}

.widget .widget-content .widget-grid ul li a{
	margin:0 auto !important;
	padding:0;
	border:none;
	overflow:hidden;
	vertical-align: text-top;
}	

.widget .widget-content .widget-grid ul li span.caption_outer {			
	margin:0 auto !important;
	width:inherit;
	height:inherit;
	position:absolute;
	left:5px;
	top:-2px;	
	z-index:10;	
	background-color:#373f42;
	/* for IE */
	  filter:alpha(opacity=90);
	  /* CSS3 standard */
	  opacity:0.9;
}



.widget .widget-content .widget-grid ul li span.caption_outer h3 a{
	color:#fff;
	display:inline;
	font-family: 'Trebuchet MS',Arial,Sans-Serif;
	position: absolute;
	line-height: 120%;
	vertical-align: text-top;
	letter-spacing: -0.5px;
	top:0;
	left:0;
	margin:10px !important;
	z-index:600;
	text-align:left;
	float:left;
}

*:first-child+html .widget .widget-content .widget-grid ul li span.caption_outer h3 a{
	position: relative;
	top:-30px;
	left:10px;
}
* html .widget .widget-content .widget-grid ul li span.caption_outer h3 a{
	position: relative;
	top:-30px;
	left:10px;
}

.widget .widget-content .widget-grid ul li span.caption_outer h3 span.read_more {
	color:#00b5ae;
	float:left;
	/* height:100%; */
}